#uni-color {
  color: yellow + black;
}
.aca-color{
    color: brown;
}

a:visited { 
  color: blue; 
}
a:visited {
  color: brown;
}

a:hover {
  color: red;
}

a:focus {
  color: green;
}

a:active {
  color: black;
}