a {
    text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: orange;
}

a:focus {
  color: red;
  outline: 2px;
}

a:active {
  color: yellow;
}

.task-list {
  list-style: none;
  padding-left: 20px;
}