/*HOME PAGE*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: calc(100vh - 72px); /*trừ chiều cao nav-bar*/
  width: 100%;
  padding: 0.9375rem;

  background-image: url("https://i.postimg.cc/02Yv2Xfd/Thiet-ke-chua-co-ten-(11).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #154b95;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 8px rgb(198, 198, 198);
}

.title h1 {
  font-size: 1.5rem;
}

.title h2 {
  font-size: 1.2rem;
}

.title p {
  font-size: 0.8rem;
}

/*UW BUTTON*/
.uw-logo {
  color: black;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
  background-color: #fed34c;

  border-radius: 0.75rem;
  border: solid 2px black;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-left: 0.3125rem;
  vertical-align: text-bottom;
}

.uw-logo:hover {
  transition: transform 0.3s linear;
  transform: scale(1.05);
}

.intro-caption{
  font-family: "IBM Plex Mono", monospace;
}