body{
    background-color: #F2F5FC;
    padding: 1.25rem; /*khoảng cách từ text ==> ô viền*/
    font-family: "Exo 2", sans-serif;
}

/*NAV-BAR + TABLE OF CONTENT*/
.table-of-content{
  display: flex;
  justify-content: flex-end; /*chia đều kcach với nhau theo trục ngang*/
  flex-wrap: wrap;  /*xuống dòng nếu tràn*/
}

#header{
  position: sticky;
  top: 0;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #9ECDDD;
}

.content-section{
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
  width: 5.625rem;
  margin: 0;
  text-decoration: none;

  background-color: #FBF2AD;
  border-radius: 0.75rem;
  text-align: center;
  border: 2px solid black;

  padding: 0.9375rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  margin-bottom: 1.25rem;

  box-shadow: 0 4px 8px rgb(198, 198, 198);
  transition: transform 0.3s, background-color 0.3s ease;
}


.content-section:hover{
  background-color: #FEFFCD;
  color: #154B95;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}