/*  BODY & TYPOGRAPHY  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #F2F5FC;
    font-family: "Exo 2", sans-serif;
}

main *{
    animation: fadeUp 0.8s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.985);
    filter: blur(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}
/*Cho nó có animation*/

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main:not(#home){
    background: radial-gradient(circle, #C4DFF0 10%, #F2F5FC 80%);
}

h1, h2, h3, h4 {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
} /*căn text ở giữa*/

*{
  scroll-behavior: smooth;
}

/*NAV-BAR + TABLE OF CONTENT*/
.table-of-content{
    display: flex;
    justify-content: flex-end; /*chia đều kcach với nhau theo trục ngang*/
    flex-wrap: wrap;  /*xuống dòng nếu tràn*/
}

#header{
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 4.7rem;
    padding: 0.95rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #C4DFF0 99%;
}

.table-of-content{
    display: flex;
    gap: 1rem;
}

.content-section{
    color: black;
    font-size: 0.9rem;

    margin: 0;
    text-decoration: none;

    cursor: pointer;

    padding: 0.6rem;

    transition: transform 0.3s, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point{
    background-color: #FBF2AD;
    border-radius: 0.75rem;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgb(198, 198, 198);
    transition: transform 0.3s, background-color 0.3s ease;
}


.content-section:hover{
  color: #154B95;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  text-shadow: 0 4px 8px rgb(198, 198, 198);
}

/*khi thu nhỏ*/

.menu-btn{
    display: none;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 1000px){

    .menu-btn{
        display: block;
    }

    .table-of-content{
        display: none;
    }
}

/*DARK-MODE*/
.dark-mode{
    padding: 0.1rem;
    margin-right: 40px;
    border: 2px grey solid;
    border-radius: 12px;
    background-color: #D3D3D3;

    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode img{
    height: 2.3rem;
    width: 2.3rem;
    display: block;
}

.dark-mode:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/*HOME PAGE*/

.title_1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.3rem;
    width: 100%;
    padding: 0.9375rem;
    background-color: #8CC4DF;
    color: #154B95;
    margin: 0rem auto 3rem auto;
    border-style: solid;
    border-color: #53A4CF;
    border-top: 2px solid #154B95;
    border-bottom: 2px solid #154B95;
}

.intro_caption{
  font-size: 0.95rem;
  font-weight: 600;
  text-align: justify;
}

/*FOOTER*/
.footer{
    width: 100%;
    height: 4rem;
    font-size: 0.9rem;

    padding: 1.2rem;

    text-align: center;

    background-color: #C4DFF0;
    color: #4D4E53;
}


#aboutme{
    padding: 2rem 0 1rem;
}